body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}
h2 {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    display:flex;

}
div.info {
        max-width: 500px;
        display: inline-block;
        text-align: center;
        margin: 20px auto;
        padding: 20px;

    }

    div.search {
        max-width: 300px;
        display: inline-block;
        text-align: center;
        margin: 20px auto;
        padding: 20px;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
